@import './reset.css';
@import './variables.css';
@import './utilities.css';
@import './layout.css';
@import './typography.css';
@import './elements.css';
@import './button.css';
@import './header.css';
@import './services.css';
@import './facts.css';
@import './projects.css';
@import './plans.css';
@import './blog.css';
@import './footer.css';
@import './feedback.css';
@import './brands.css';
.bg-color-light {
    background-color: var(--light-color);
}

.bg-gradient-blue {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

.text-uppercase {
    text-transform: uppercase;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.row-center {
    flex-direction: row;
    align-items: center;
}

.sm-half-size {
    max-width: 70%;
}

html {
    font-size: 150px;
}

body {
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-color);
    margin-bottom: 160px;
}

h1.text-uppercase {
    font-size: 60px;
    line-height: 66px;
    font-weight: 600;
    margin: 20px 0;
}

h6 {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}

p {
    color: var(--text-color);
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    margin: 100px;
}

.col-6 {
    width: 100%;
    padding: 0 16px;
}

@media (max-width: 576px) {
    .flex {
        flex-wrap: wrap;
    }
    .container {
        max-width: 540px;
    }
    .sm-first {
        order: -1;
    }
    h1 {
        font-size: 60px;
        line-height: 66px;
        margin: 20px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .col-6 {
        width: 50%;
        padding: 0 16px;
    }
}

h1 {
    font-size: 60px;
    line-height: 66px;
    margin: 20px;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}